@use '../variables/color' as *;
@use '../variables/fonts' as *;

@mixin listCard($color) {
  min-height: 200px;
  width: 100%;
  border-radius: 15px;
  padding-right: 0;
  box-shadow: 4px 4px 25px -15px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  position: relative;
  word-wrap: break-word;
  background: $color;

  &:hover {
    transform: scale(1.05);
    z-index: 999;
    transition: all 300ms ease;
  }
}

.list-holder {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-sorter {
  display: flex;
  gap: 2rem;
}

.list-content {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
}

.list-text {
  padding: 1.5rem 1.2rem;
}

.list-utils {
  margin-left: 2rem;
}

.ongoing-list {
  @include listCard($spring-light);

  h5 {
    margin-bottom: 1rem;
    color: $spring-dark;
  }

  p {
    color: $spring-dark;
  }
}

.hold-list {
  @include listCard(($autum-light));

  h5 {
    margin-bottom: 1rem;
    color: $spring-dark;
  }

  p {
    color: $spring-dark;
  }
}

.onEditing {
  background: $summer-normal;
}

.trash-btn {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 15px;
  cursor: pointer;
  background: $autum-normal;
  color: $snow-white;
  border: none;

  &:hover {
    background: $autum-dark;
    transform: scale(1.2);
    z-index: 999;
    transition: all 300ms ease;
  }
}

.edit-btn {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35px;
  right: 0;
  cursor: pointer;
  background: $summer-normal;
  color: $snow-white;
  border: none;

  &:hover {
    background: $summer-dark;
    transform: scale(1.2);
    z-index: 999;
    transition: all 300ms ease;
  }
}

.edit-btn.locked {
  top: 0;
  border-top-right-radius: 15px;
}

.hold-btn {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70px;
  right: 0;
  border-bottom-left-radius: 15px;
  cursor: pointer;
  background: $lilac-normal;
  color: $snow-white;
  border: none;

  &:hover {
    background: $lilac-dark;
    transform: scale(1.2);
    z-index: 999;
    transition: all 300ms ease;
  }
}

.unlock-btn {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
  background: $lilac-normal;
  color: $snow-white;
  border: none;

  &:hover {
    background: $lilac-dark;
    transform: scale(1.2);
    z-index: 999;
    transition: all 300ms ease;
  }
}

.check-btn {
  height: 35px;
  width: 35px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 15px 0 15px 0;
  border: none;
  background: $spring-normal;
  color: $spring-dark;
  cursor: pointer;

  &:hover {
    background: $spring-dark;
    color: $snow-white;
    transform: scale(1.2);
    z-index: 999;
    transition: all 300ms ease;
  }
}

.general-btn {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  background: $spring-normal;
  color: $spring-dark;
  cursor: pointer;
  font-weight: $font-wg-semi;

  &:hover {
    background: $spring-dark;
    color: $snow-white;
    transition: all 300ms ease;
  }
}

.btnActive {
  background: $spring-dark;
  color: $snow-white;
}

.ghost-btn {
  background: $spring-light;
  border: 1px solid $spring-dark;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  color: $spring-dark;
  cursor: pointer;
  font-weight: $font-wg-semi;
  text-decoration: none;

  &:hover {
    background: $spring-dark;
    color: $snow-white;
  }
}

.grid-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 1.5rem;

  @media only screen and (max-width: 1600px) {
    grid-template-columns: 300px 300px;
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: 300px;
  }
}
