$snow-white: hsl(0, 0%, 100%);
$spring-light: hsl(154, 41%, 90%);
$spring-normal: hsl(155, 73%, 67%);
$spring-dark: hsl(180, 100%, 13%);
$summer-light: hsl(193, 82%, 87%);
$summer-normal: hsl(194, 60%, 53%);
$summer-dark: hsl(202, 74%, 39%);
$autum-light: hsl(0, 100%, 84%);
$autum-normal: hsl(0, 91%, 73%);
$autum-dark: hsl(0, 92%, 66%);
$lilac-light: hsl(265, 57%, 88%);
$lilac-normal: hsl(265, 49%, 71%);
$lilac-dark: hsl(265, 40%, 58%);
